table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 20px;
}

th, td {
  border: 2px solid black;
  letter-spacing: .02em;
}

.odd {
  background-color: lightgray;
}
